@use '@/styles/_mixins.scss';
@use '@/styles/_variables.scss' as var;

.headerMobile {
  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mixins.square(50px);

    border-radius: 50%;
    border: 2px solid var.$color-border;
    background-color: transparent;
  }

  &__logoBox {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 28px;

    height: 50px;

    border-radius: 30px;
    border: 2px solid var.$color-border;

    &__logo {
      height: 29px;
      width: auto;
    }
  }

  &__navBox {
    position: absolute;
    top: 80px;
    left: 0;
    padding-top: 15px;
    padding-bottom: 22px;

    height: calc(100vh - 80px);
    min-height: 100%;
    width: 100%;

    background-color: var.$color-main-light;
  }
}
