* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 1000px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FDF7EE;
}

body {
  font-family: 'Commissioner Variable', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}